<% include ./header %> 
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">CodeWars</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="#">Challenges <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">Leaderboard</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                  </div>
                </div>
              </nav>


              
    <div class="container-fluid">
        <% for(var i=0; i< 10; i++) { %>
        <div class="row" style=" margin-left: 3%;">
            <div class="col-md-xs-3 cold" >        
            <label>
                <input type="checkbox"  style="display: none;"/>
                <div class="card">
                    <div class="front">
                        <h3 >Challenge Name</h3>
                    </div>
                    <div class="back"><a href="/challenge/<%= 4*i %> " style="color:whitesmoke;">Challenge <%= 4*i%></a></div>
                </div>
            </label>
            </div>
            <div class="col-md-xs-3 cold">        
             <label>
                <input type="checkbox"  style="display: none;"/>
                <div class="card">
                    <div class="front">
                        <h3>Challenge Name</h3>
                    </div>
                    <div class="back"><a href="/challenge/<%= 4*i+1 %> " style="color:whitesmoke;">Challenge <%= 4*i+1%></a></div>
                </div>
            </label> 
            </div>
            <div class="col-md-xs-3 cold">        
                    <label>
                       <input type="checkbox"  style="display: none;"/>
                       <div class="card">
                           <div class="front">
                               <h3>Challenge Name</h3>
                           </div>
                           <div class="back"><a href="/challenge/<%= 4*i+2 %> " style="color:whitesmoke;">Challenge <%= 4*i+2%></a></div>
                       </div>
                   </label> 
            </div>
                   <div class="col-md-xs-3 cold">        
                        <label>
                           <input type="checkbox"  style="display: none;"/>
                           <div class="card">
                               <div class="front">
                                   <h3>Challenge Name</h3>
                               </div>
                               <div class="back"><a href="/challenge/<%= 4*i+3 %> " style="color:whitesmoke;">Challenge <%= 4*i+3%></a></div>
                           </div>
                       </label> 
            </div>
        </div>
        <% } %>
    </div>
    <style>
        body {
            background: linear-gradient(to right bottom, #12100E, #2B4162)
        }
    </style>
   
</body>
</html>